/* *{
    border: 1px solid red;
} */

/* common styles for all webpage */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* common nav styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* This is now a Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.left-column { 
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    font-size: 2em;
}

.right-column {
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 15px;
}

.logo i {
    font-size: 2em;
}

.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contact-hours-wrapper > .time {
    font-family: "Ubuntu Condensed", sans-serif;
}

.nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
}

.address-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
}

.banner-image img {
    width: 216px;
    height: 100%;
}
